@import "../../node_modules/bootstrap/scss/bootstrap"
@import "colors"
$padding-x: 1.5em
$padding-y: 1em

$primaryColor: #477998

body
  background: white
canvas
  background: white
  border: 1px solid #ccc

@import "ContentPage"
@import "GamePage"
#root
  text-align: center
  .main
    width: 100%
    max-width: 460px
    display: inline-block
    position: relative
    text-align: left
    img
      max-width: 100%
      display: flex
      justify-self: center
      margin: 0 auto
      &#wrench
        max-width: 70vw
        filter: invert(100%)
      &#phone
        max-width: 45vw
.score-wrapper
  margin: $padding-y 0
  line-height: 1em
  &.fit
    display: flex
    justify-content: center
.score-box
  display: inline-block
  height: 30px
  width: 30px
  opacity: 0.1
  background: url("https://s3.eu-central-1.amazonaws.com/bonn-hackathon/img/nut.svg") no-repeat
  background-size: cover
  .score-2 &
    height: 15px
    width: 15px
  .score-4 &
    height: 7px
    width: 7px
  .score-8 &
    height: 3px
    width: 3px

.scored
  background: url("https://s3.eu-central-1.amazonaws.com/bonn-hackathon/img/nut.svg") no-repeat
  opacity: 1
  transition: opacity 500ms ease-in-out

.score-winner
  background: $danger-level-1
  border: 1px solid #000
  font-size: 25px
  text-align: center
  margin: 0 auto
  padding: 10px


.page-welcome
  background: $welcome-page
  border: 1px solid #000
  font-size: 20px
  text-align: center
  margin: 20px
  padding: 10px

