@import "../../node_modules/bootstrap/scss/bootstrap"
@import "colors"
$padding-x: 1.5em
$padding-y: 1em

$primaryColor: #477998

body
  background: white
canvas
  background: white
  border: 1px solid #ccc

@import "ContentPage"
@import "GamePage"

.score-wrapper
  display: flex
  flex-flow: row

.score-box
  background: $danger-level-5
  border: 1px solid #ccc
  height: 20px
  width: 20px
  display: flex
  opacity: 0.3

.scored
  background: $danger-level-1
  opacity: 1
  transition: opacity 500ms ease-in-out

.score-winner
  background: $danger-level-1
  border: 1px solid #000
  font-size: 25px
  text-align: center
  margin: 0 auto
  padding: 10px
