@import "../../node_modules/bootstrap/scss/bootstrap"
@import "colors"
$padding-x: 1.5em
$padding-y: 1em

$primaryColor: #477998

body
  background: white
canvas
  background: white
  border: 1px solid #ccc

@import "ContentPage"
@import "GamePage"

.score-wrapper
  display: flex
  flex-flow: row
  justify-content: center
  margin: 10px auto

.score-box
  height: 30px
  width: 30px
  display: flex
  opacity: 0.1
  background: url("/img/nut.svg")
  background-size: cover

.scored
  background: url("/img/nut.svg")
  opacity: 1
  transition: opacity 500ms ease-in-out

.score-winner
  background: $danger-level-1
  border: 1px solid #000
  font-size: 25px
  text-align: center
  margin: 0 auto
  padding: 10px


.page-welcome
  background: $welcome-page
  border: 1px solid #000
  font-size: 20px
  text-align: center
  margin: 20px
  padding: 10px

